body {
    padding-top: 70px;
}

.heading{
    margin-top: 30px;
    text-align: center;
}
.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.label-style{
    font-size: 20px;
    margin-top: 30px;
}

.input-style{
    padding: 5px;
    font-size: 20px !important;
    margin-top: 20px !important;
}

.btn-style{
    padding: 10px !important;
    font-size: 20px !important;
    margin-top: 20px !important;
}

.w-33{
    width: 32%;
}

.btn-gap{
    margin-top: 50px !important;
}

.bot-label{
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}

.bot-image{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
}

.bot-image:hover{
    border-width: 5px;
}

canvas{
    border-style: solid;
    border-width: 3px;
}

.btn-start{
    border: none !important;
    background-color: #4CAF50 !important;
}

i{
    margin-left: 20px;
}

.home-gradient {
    background: url("/public/Home_page_img.png") no-repeat center center/cover;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
}


.divider {
    display: block;
    height: 4px;
    width: 5rem !important;
    background: #f76c2f;
}

.section-heading {
    color: red;
}

.normal-text {
    font-size: large;
}

.hide-footer {
    display: none;
  }
  

.footer-text, .footer-link {
    text-decoration: none;
    color:darkgray;
}

.footer-link:hover {
    color: white;
}

.card-footer-style {
    background-color: darkblue !important;
    color: white !important;
    
}

.card-background {
    background:  linear-gradient(50deg, rgb(191, 231, 241), #fff) !important;
}

.card-background:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signs{
    margin-top: 10px;
    height: 35px;
    color: white;
    font-weight: bold;
    background-color: #da037dd0 ;
    border-radius: 5px;
}
.signs:hover{
    background-color: #d47aadd0;
}

.hor-line {
    border: 0;
    clear:both;
    display:block;
    width: 85%;               
    background-color: gainsboro;
    height: 1px;
}

.training-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    z-index: 1000;
  }
  
  .neural-network {
    animation: fadeInOut 5s linear;
  }
  
  .dots span {
    animation: blink 1.5s infinite;
  }
  
  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  